* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: gray;

    height: 95vh;
    aspect-ratio: 1.1/1;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem;
}

.rectangulo-superior {
    background-color: white;
    height: 23%;
    width: 100%;

    position: relative;
}

.cuadrados-centro{
    height: 51%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cuadrado-izquierdo {
    background-color: rgb(233, 233, 233);
    height: 100%;
    width: 49.25%;
}

.cuadrado-derecho {
    background-color: white;
    height: 100%;
    width: 49.25%;
}

.rectangulo-inferior {
    background-color: rgb(233, 233, 233);
    height: 23%;
    width: 100%;

    position: relative;
}

.cuadradoazuls {
    background-color: rgb(174, 233, 230);
    height: 100%;
    aspect-ratio: 1/1;

    position: absolute;
    left: 0; 

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.renglonblanco1 {
    background-color: rgb(255, 255, 255);
    height: 16%;
    width: 100%;
}

.renglongris1 {
    background-color: gray;
    height: 16%;
    width: 65%;
}

.cuadradoazuli {
    background-color: rgb(174, 233, 230);
    height: 100%;
    aspect-ratio: 1/1;

    position: absolute;
    left: 0; 

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-lista {

}

.cuadrado-lista {

}

.reenglon-lista {
    
}